<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>User Login</title>
</head>

<body>
	<h3>Log in with your credentials</h3>

	<form method="POST" action="/user/login" class="form-signin">
		<h2 class="form-heading">Log in</h2>

		<div class="form-group ">
			<span></span>
			<input name="username" type="text" class="form-control" placeholder="Username" autofocus="true" />
			<input name="password" type="password" class="form-control" placeholder="Password" />
			<span></span>

			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			<input type="submit" value="Log In" />
		</div>

	</form>


	<div th:text="${msg}"></div>
</body>

</html>